---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			body{
				background-color: #000000dd;
				color: #FFF;
			}
			h1{
				display: flex;
				justify-content: center;
			}
		</style>
	</head>
	<body>
		<h1>
            About Me
        </h1>
        <h2>
            Well so I came to know about this new tool named Astro.js and how it's better than some of the frameworks available in the market.
        </h2>
        <p>
            I already have a pretty good grasp about React. Hence Astro should be like going to the backyard after a renovation.
        </p>
	</body>
</html>
